.drop {
    position:relative;
    box-shadow: inset 0px 0px 20px rgba(176, 140, 255, 0.05), 
    0px 5px 20px rgba(176, 140, 255, 0.05),
    0px 5px 30px rgba(176, 140, 255, 0.05),
    inset 0px 0px 20px rgba(161, 118, 255, 0.5);
    &:hover{
    box-shadow: inset 20px 20px 20px rgba(176, 140, 255, 0.00), 
    25px 35px 20px rgba(176, 140, 255, 0.00),
    25px 30px 30px rgba(176, 140, 255, 0.00),
    inset 0px 0px 20px rgba(251, 130, 221, 0.714);
    }
}