input[type="checkbox"] {
  opacity: 0;
  width: fit-content;
}

.iconPointer {
  transition: all 0.5s ease-in-out;
}

.answer {
  width: 100%;
  animation: 0.7s ease-in-out  slideOutTop; 
  height:0;
}

input:checked[type="checkbox"] + .faq > .answer {
  animation: 0.7s ease-out 0s 1 slideInTop;  
  height: fit-content;
}

// input:not(:checked)[type="checkbox"] + .faq > .answer {
//   animation: 0.7s ease-in-out  slideOutTop; 
//     height: 0px;
// }

input[type="checkbox"]:checked ~ .faq > .label {
  color: rgb(49, 229, 139);
}

input[type="checkbox"]:checked ~ .faq > label > .iconPointer {
  rotate: -180deg;  
  background-color: #043409;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230a7c1b'/%3E%3Cstop offset='1' stop-color='%230a7c1b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2308690d'/%3E%3Cstop offset='1' stop-color='%2308690d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230eb11d'/%3E%3Cstop offset='1' stop-color='%230eb11d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23043409'/%3E%3Cstop offset='1' stop-color='%23043409' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230FC532'/%3E%3Cstop offset='1' stop-color='%230FC532' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230E9D0D'/%3E%3Cstop offset='1' stop-color='%230E9D0D' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-size: cover;
}


.inputText:hover,
.textArea:hover {
  background: rgba(19, 1, 37, 0.882);
}

//---
.inputText:hover + .inputLabel,
.textArea:hover + .inputLabel {
  background: rgb(67, 113, 190);
  opacity: 1;
  margin: -1.2rem 0 0 0rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
}

.inputText + .inputLabel,
.textArea + .inputLabel {
  opacity: 1;
  margin: -1.1rem 0 0 0.5rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
  background: $GradientTeal;
  box-shadow: 0px 2px 10px 1px rgb(2, 2, 2);
  border-left: 2px solid rgb(4, 23, 16);
  border-right: 2px solid rgb(16, 199, 129);
  transition: all ease-in-out 0.3;
}


.inputText:focus,
.inputLabel,
.textArea:focus,
.inputLabel {
  box-shadow: 0px 5px 10px 1px rgb(2, 2, 2);
  transition: all 0.5s ease-in-out;
}

.inputText:valid + .inputLabel,
.textArea:valid + .inputLabel {
  opacity: 1;
  margin: -1.2rem 0 0 0rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
  border-left: 2px solid rgba(23, 23, 23, 0.699);
  border-right: 2px solid rgba(23, 23, 23, 0.699);
  transition: all ease-in-out 0.5;
}

.inputText:focus + .inputLabel,
.textArea:focus + .inputLabel,
.inputText:hover + .inputLabel,
.textArea:hover + .inputLabel  {
  opacity: 1;
  margin: -1.1rem 0 0 0.5rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
  background: $GradientTeal;
  box-shadow: 0px 2px 10px 1px rgb(2, 2, 2);
  border-left: 2px solid rgb(4, 23, 16);
  border-right: 2px solid rgb(16, 199, 129);
  transition: all ease-in-out 0.3;
}

.inputText:invalid + .inputLabel, .inputText:not(:valid) + .inputLabel,
.textArea:invalid + .inputLabel, .textArea:not(:valid)+ .inputLabel {
  opacity: 0;
  margin: -1.1rem 0 0 0.5rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
  transition: all ease-in-out 0.3;
}

.inputText:not(:placeholder-shown):invalid:not(:focus),
.inputText:not(:placeholder-shown):invalid:focus,
.textArea:not(:placeholder-shown):invalid:not(:focus),
.textArea:not(:placeholder-shown):invalid:focus {
  border: 2px solid #e3247a;
}
.inputText:not(:placeholder-shown):invalid + .inputLabel,
.textArea:not(:placeholder-shown):invalid + .inputLabel {
  opacity: 1;
  margin: -1.1rem 0 0 0.5rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem 1rem 0 0;
  padding: 0 8px;
  background: #e3247a;
  border-left: 2px solid rgb(199, 53, 16);
  border-right: 2px solid rgb(199, 37, 16);
}