.Navigation {
  z-index: 5;
  display: flex;
  width: 100%;
  height: wrap;
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  div {
    width: inherit;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.Navbar {
  z-index: 5;
  display: flex;
  width: 100%;
  height: $height;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  place-items: center;
  backdrop-filter: blur(2em);
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  .brandLogo {
    width: wrap;
    display: flex;
    position: relative;
    justify-content: center;
    place-items: center;
    overflow: hidden;
  }
}

.hamburger-close {
  display: none;
}

.hamburger_lines {
  align-self: center;
  z-index: 1;
  cursor: pointer;
  width: 1rem;
  height: 2px;
  right: 0;
  background-color: $menusTextColors;
  transition: all 0.3s ease-in-out;
}
.hamburger_lines::before,
.hamburger_lines::after {
  align-self: center;
  z-index: 1.5;
  cursor: pointer;
  width: 1.5rem;
  height: 2px;
  right: 0;
  background-color: $menusTextColors;
  transition: all 0.3s ease-in-out;
}
.hamburger_lines::before,
.hamburger_lines::after {
  content: "";
  position: absolute;
}
.hamburger_lines::before {
  transform: translateY(-0.5rem);
}
.hamburger_lines::after {
  transform: translateY(0.5rem);
}
// animation of hamburger_lines
.hamburger-open .hamburger_lines {
  transform: translateX(2rem);
  background-color: transparent;
}
.hamburger-open .hamburger_lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}
.hamburger-open .hamburger_lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

.menus {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  height: inherit;
  li > a {
    font-size: 0.9rem;
    padding: 1rem 0.7rem;
    margin: 0 0.2rem;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    color: $menusTextColors;
    outline: 1;
    &:hover,
    &:focus,
    &:active {
      background: $menusColors;
      box-shadow: 0px 5px 5px 1px rgba(43, 4, 64, 0.729);
    }
  }
}

@include media(">tablet") {
  #hamburger {
    display: none;
  }

  .hamburger-open {
    display: none;
  }
  .mobile-open {
    opacity: 0;
  }

  .mobile-menus {
    display: none;
  }
  .social {
    display: none;
  }
}

@include media("<tablet") {
  .menus {
    display: none;
  }
  .mobile-open {
    opacity: 1;
    animation: 0.3s ease-out 0s 1 slideInRight;
  }
  .mobile-menus {
    display: block;
  }
  .Navbar {
    width: auto;
    height: $height;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  #hamburger {
    display: grid;
    position: relative;
    flex-direction: column;
    width: wrap;
    height: wrap;
    border-radius: 2em;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-right: 0.5rem;
  }

  .hamburger-close {
    position: relative;
    display: flex;
    justify-self: end;
    align-self: center;
    align-items: center;
    align-content: center;
    width: 1em;
    height: 1em;
    .hamburger_lines {
      position: relative;
      width: 1rem;
    }
  }

  .hamburger-open {
    position: relative;
    display: flex;
    width: 1rem;
    height: 1rem;
    z-index: 1;
    cursor: pointer;
    .hamburger_lines {
      position: relative;
      width: 1rem;
    }
  }

  .mobile-open {
    display: grid;
    position: absolute;
    top: $height;
    width: 100%;
    min-height: 100vh;
    height: wrap;
    place-self: top;
    justify-content: end;
    background: $mobileNavColor;
    backdrop-filter: blur(1rem);
    .mobile-menus {
      place-self: top;
      width: 100%;
      height: wrap;
      top: 0;
      background: $backgroundColor;
      backdrop-filter: blur(1rem);
      box-shadow: 0px 0 0px 1px rgba(193, 192, 193, 0.154);
      .mobileMenu:hover {
        background: rgba(19, 177, 130, 0.931);
        box-shadow: 0px 0px 5px 3px rgba(29, 3, 48, 0.54);
      }
      a {
        position: relative;
        width: 100%;
        color: $menusTextColors;
        .icon {
          display: grid;
          width: auto;
          margin: 0 10px 0 12px;
          place-content: center;
        }
        .menuname {
          display: grid;
          align-items: center;
        }
      }
      li {
        width: 100%;
        height: wrap;
      }
    }

    .social {
      width: 100%;
      height: 2px;
      place-self: top;
      top: 0;
      div {
        display: flex;
        position: relative;
        width: inherit;
        height: inherit;
        place-content: center;
        margin-top: 1.5rem;
        a {
          width: fit-content;
          height: fit-content;
          padding: 0.3rem;
          place-content: center;
          -webkit-text-stroke: 2px rgba(203, 202, 204, 0.856);
          top: 0;
          transition: all 0.3s;
          svg {
            display: flex;
            position: relative;
            justify-self: flex-start;
          }
        }
      }
    }
    .navLogo {
      width: wrap;
      height: wrap;
      display: flex;
      position: relative;
      justify-content: center;
      margin-top: 5rem;
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }

  .mobile-close {
    display: none;
    animation: 0.5s ease-out 0s 1 slideInLeft;
    .mobileMenus {
      opacity: 0;
    }
  }
}

#signin {
  background: $GradientGreenColor;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 0 20em;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
  &:hover,
  &:focus {
    color: rgb(28, 28, 28);
    background: $GradientWhiteColor;
  }
}

#signup {
  background: $GradientRedColor;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 1em;
  border-radius: 20em 0;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
  &:hover,
  &:focus {
    color: rgb(28, 28, 28);
    background: $GradientWhiteColor;
  }
}

#logout {
  background: $GradientRedColor;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 1em;
  border-radius: 20em;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
  &:hover,
  &:focus {
    color: rgb(28, 28, 28);
    background: $GradientWhiteColor;
  }
}

#hidden {
  display: none;
}

.copyright {
  display: grid;
  width: fit-content;
  height: wrap;
  place-content: center;
  p {
    text-align: center;
    color: rgb(76, 75, 75);
  }
}

.hoverEffect {
  color: $menusTextColors;
  font-weight: 500;
  outline: 1;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: $GradientTeal;
    box-shadow: 0px 8px 5px 0px rgba(24, 24, 24, 0.85);
  }
}
