.PostDetail {
  backdrop-filter: blur(10px);
}

.author {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: -2.5rem;
  width: fit-content;
  background: rgba(113, 25, 201, 0.76);
  border-radius: 2rem 2rem;
  .authorPic {
    border-radius: 2rem;
    background: rgba(28, 7, 61, 0.76);
  }
}

.PostContent{
  h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 14px 0;
  }
  
  h2{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 12px 0;
  }
  
  h3{
    font-size: 0.9rem;
    font-weight: 500;
    margin: 10px 0;
  }

  p{
    margin: 10px 0;
  }

  code{
    width:fit-content;
    background: rgb(38, 36, 44);
    color: white;
    display: block;
    position: relative;             
    border-radius: 0.3rem;      
    white-space: nowrap;   
    font-size: 12px;
    padding: 5px 10px;
    box-shadow: 0 0px 3px 0px rgba(28, 7, 61, 0.26);
  }

 

  blockquote {
    border-left: 5px solid #ccc;
    padding: 1em 1em 1em 2em;
    margin: 1em 0;
  }
  blockquote.somethingElse {
    
  }

}

