$height: 4rem;
//--
// palettes colors----
$colorDark: #040404;
$colorCharcoal: #2f4550;
$colorCadet: #586f7c;
$colorPoweBlue: #b8dbd9;
$colorGhostWhite: #f4f4f9;
$colorGrayDark: #464545;
$colorPurpleLight: #9252ff;

$bg1: radial-gradient(
  circle at 50% -20.71%,
  #b496e7 0,
  #9480df 25%,
  #6c6cd8 50%,
  #2d5ad1 75%,
  #004bca 100%
);

$background-image: linear-gradient(
  35deg,
  hsl(240deg 84% 17%) 0%,
  hsl(236deg 85% 21%) 11%,
  hsl(232deg 87% 25%) 22%,
  hsl(228deg 89% 29%) 33%,
  hsl(224deg 91% 32%) 44%,
  hsl(219deg 92% 36%) 56%,
  hsl(215deg 94% 40%) 67%,
  hsl(211deg 96% 43%) 78%,
  hsl(207deg 98% 47%) 89%,
  hsl(203deg 100% 50%) 100%
);

$background-image1: linear-gradient(
  0deg,
  hsl(264deg 84% 17%) 0%,
  hsl(263deg 75% 21%) 11%,
  hsl(261deg 68% 26%) 22%,
  hsl(260deg 61% 31%) 33%,
  hsl(258deg 54% 36%) 44%,
  hsl(257deg 48% 42%) 56%,
  hsl(255deg 43% 48%) 67%,
  hsl(254deg 45% 54%) 78%,
  hsl(252deg 51% 61%) 89%,
  hsl(251deg 60% 68%) 100%
);

$background-image2: linear-gradient(
  40deg,
  hsl(250deg 82% 4%) 0%,
  hsl(250deg 76% 7%) 5%,
  hsl(249deg 71% 10%) 10%,
  hsl(249deg 66% 13%) 15%,
  hsl(249deg 61% 16%) 20%,
  hsl(248deg 57% 20%) 25%,
  hsl(248deg 53% 23%) 30%,
  hsl(248deg 49% 27%) 35%,
  hsl(247deg 45% 31%) 40%,
  hsl(247deg 41% 35%) 45%,
  hsl(247deg 38% 39%) 50%,
  hsl(246deg 35% 43%) 55%,
  hsl(246deg 32% 48%) 60%,
  hsl(246deg 32% 53%) 65%,
  hsl(245deg 35% 58%) 70%,
  hsl(245deg 39% 63%) 75%,
  hsl(245deg 43% 68%) 80%,
  hsl(244deg 49% 73%) 85%,
  hsl(244deg 57% 79%) 90%,
  hsl(244deg 71% 84%) 95%,
  hsl(244deg 100% 90%) 100%
);

//-------color
$background-image3: linear-gradient(
  to left bottom,
  #191a1b,
  #1f2223,
  #252a29,
  #2e322f,
  #383934
);

$GradientBlack: linear-gradient(-90deg, #080808d7, #575958b8, #060606d7);
$GradientRedColor: linear-gradient(-90deg, #0e020ea2, #ff0be3af, #0e020eb9);
$secondaryDarkColor: linear-gradient(45deg, #23fc59, #044322, #0edf5e, #088544);
$GradientGreen: linear-gradient(90deg, #04532c, #00fb60e9, #044d3a);
$GradientGoldenColor: linear-gradient(90deg, #332003de, #ff5100, #352003e7);
$GradientPurpleColor: linear-gradient(90deg, #330c4fde, #e605ff, #470c62e7);
$GradientPurple2: linear-gradient(0deg, #551b7ede, #a638e1 80%);

$blackGlassColor: linear-gradient(-90deg, #010101c6, #0c0c0cdd, #090909ad);

//---------color options ----
$primaryGreenColor: linear-gradient(-90deg, #250438, #0daa73, #1e032e);
$transparentGlassColor: linear-gradient(0deg, #eeeaea64, #f7f6f68f, #d8d7d7c4);
$GradientGreen: linear-gradient(90deg, #044e23, #2ce065e9, #044e23);
//Gradient Colors

$GradientWhiteColor: linear-gradient(90deg, #cacccbc2, #ffffffc2, #cacccbc2);
$GradientGreenColor: linear-gradient(90deg, #09120bc2, #02fb02, #050906c2);

$GradientLightGreen: linear-gradient(90deg, #f2faf2c2, #589468c2);
$GradientLime: linear-gradient(90deg, #7fad8bc2, #c8f0c8c2, #7fad8bc2);
$transparentWhiteColor: linear-gradient(90deg, #7fad8bc2, #c8f0c8c2, #7fad8bc2);

//RGBA Colors
$transparentWhite: rgba(253, 253, 253, 0.617);
$transparentBlack: rgba(25, 25, 25, 0.677);
$whiteColor: rgba(252, 252, 252, 0.981);
$GlassColor: rgba(24, 24, 24, 0.733);
//Basic Color

$grayColor: rgb(75, 75, 75);
$blackColor: rgb(9, 9, 9);
$purpleGradient: linear-gradient(
  to left bottom,
  #351840,
  #19121d,
  #231a2d,
  #2e223e,
  #372a50
);

$purpleGradient1: linear-gradient(
  to left bottom,
  #2f1938,
  #40294e,
  #503965,
  #614b7d,
  #715d97
);
//---- Color Variables

$primaryColor: rgba(179, 235, 245, 0.835);
$primaryDarkColor: rgba(10, 10, 10, 0.957);
$secondaryColor: rgb(73, 239, 220);

$fontColor: $grayColor;
$backgroundColor: $background-image1;
// $backgroundColor: $bg1;
// Navbar Color------
// $menusTextColors: $grayColor;
$navBarColor: $backgroundColor;
$navMenuColor: $backgroundColor;
$menusColors: $GradientLime;
$menusTextColors: $whiteColor;
$underLineColor: $GradientGreenColor;
//Mobile Navbar color ------
// $mobileNavColor: $primaryDarkColor;
$mobileNavColor: $backgroundColor;
// $bodyColor: $whiteColor;
// $fontColor: $grayColor;
$cardColor: $GradientLime;
// $cardColor: $primaryColor;

.purple_gradient {
  z-index: 0;
  background: linear-gradient(180deg, #bc8ee9c5 0%, #3c1665e3 100%);
  filter: blur(200px);
}

.pink_gradient {
  z-index: 0;
  background: linear-gradient(90deg, #f4c4f3 0%, #340325 100%);
  filter: blur(400px);
}
.white_gradient {
  z-index: 0;
  // background: linear-gradient(90deg, #f4c4f3 0%, #fbfbfbc4 100%);
  background: rgba(255, 255, 255, 0.772);
  filter: blur(750px);
}
.blue_gradient {
  z-index: 0;
  background: linear-gradient(
    180deg,
    rgba(28, 61, 178, 0.843) 0%,
    #66a0d6 100%
  );
  filter: blur(123px);
}

.autoColorChange {
  background: linear-gradient(
    245deg,
    #fe10c7,
    #9a1fe2,
    #9063c1,
    #23192c,
    #4c4d4e
  );
  background-size: 500% 100%;

  -webkit-animation: AnimationName 2000ms ease infinite;
  -moz-animation: AnimationName 2000ms ease infinite;
  animation: AnimationName 10s ease infinite;

  border-radius: 1rem;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
