$height: 4rem;
//--

$background-image1: linear-gradient(
  0deg,
  hsl(264deg 84% 17%) 0%,
  hsl(263deg 75% 21%) 11%,
  hsl(261deg 68% 26%) 22%,
  hsl(260deg 61% 31%) 33%,
  hsl(258deg 54% 36%) 44%,
  hsl(257deg 48% 42%) 56%,
  hsl(255deg 43% 48%) 67%,
  hsl(254deg 45% 54%) 78%,
  hsl(252deg 51% 61%) 89%,
  rgb(144, 124, 222) 100%
);

$background-image2: linear-gradient(
  0deg,
  rgb(7, 80, 59) 0%,
  rgb(13, 94, 66) 11%,
  rgb(21, 111, 84) 22%,
  rgb(31, 127, 97) 33%,
  rgb(42, 141, 110) 44%,
  rgb(56, 159, 130) 56%,
  rgb(70, 175, 136) 67%,
  rgb(85, 190, 158) 78%,
  rgb(105, 206, 164) 89%,
  rgb(124, 222, 194) 100%
);

$GradientBlack: linear-gradient(45deg, #080808d7, #292525);
$GradientBlack3: linear-gradient(-45deg, #080808d7, #575958b8, #060606d7);
$GradientRedColor: linear-gradient(-90deg, #0e020ea2, #ff0be3af, #0e020eb9);
$GradientGreen: linear-gradient(90deg, #04532c, #00fb60e9, #044d3a);
$GradientTeal: linear-gradient(
  180deg,
  rgba(17, 173, 139, 0.859) 0%,
  rgba(12, 143, 115, 0.859) 100%
);
$GradientTeal1: linear-gradient(
  180deg,
  rgb(15, 155, 124) 0%,
  rgba(17, 145, 117, 1) 100%
);

$GradientTeal2: linear-gradient(
  180deg,
  rgb(18, 174, 164) 0%,
  rgb(14, 121, 100) 100%
);

$blackGlassColor: linear-gradient(-90deg, #010101c6, #0c0c0cdd, #090909ad);

//---------color options ----

//Gradient Colors
$GradientWhiteColor: linear-gradient(90deg, #cacccbc2, #ffffffc2, #cacccbc2);
$GradientGreenColor: linear-gradient(90deg, #09120bc2, #02fb02, #050906c2);
$GradientLime: linear-gradient(90deg, #7fad8bc2, #c3f9c3c2, #7fad8bc2);

//RGBA Colors
$transparentBlack: rgba(13, 13, 13, 0.737);
$whiteColor: rgba(252, 252, 252, 0.981);
$GlassColor: rgba(24, 24, 24, 0.733);
//Basic Color

$grayColor: rgb(75, 75, 75);
$blackColor: rgb(9, 9, 9);

.heroBG{
background-color: #2C0449;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239e0aa3'/%3E%3Cstop offset='1' stop-color='%239e0aa3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23480680'/%3E%3Cstop offset='1' stop-color='%23480680' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23cb0bda'/%3E%3Cstop offset='1' stop-color='%23cb0bda' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232C0449'/%3E%3Cstop offset='1' stop-color='%232C0449' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F01CA5'/%3E%3Cstop offset='1' stop-color='%23F01CA5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236007B8'/%3E%3Cstop offset='1' stop-color='%236007B8' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}


//---- Color Variables
$fontColor: $blackColor;
$backgroundColor: $background-image1;
// $backgroundColor: $GradientBlack;
// $backgroundColor: rgb(122, 70, 162);

$navBarColor: #8672d5c4;
$navMenuColor: $backgroundColor;
$menusColors: $GradientTeal2;
$menusTextColors: $whiteColor;
$mobileNavColor: $transparentBlack;
$underLineColor: $GradientGreenColor;
$cardColor: $GradientLime;
$SocialPicColor: linear-gradient(180deg, #fffdfcec 0%, #b54ae2c4 100%);
$SocialBGColor: linear-gradient(0deg, #4e1165e2 0%, #a328b0dc 100%);

.randomBG{
  background-color: #280455;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236e04ab'/%3E%3Cstop offset='1' stop-color='%236e04ab' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23046cb0'/%3E%3Cstop offset='1' stop-color='%23046cb0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230b6fff'/%3E%3Cstop offset='1' stop-color='%230b6fff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23280455'/%3E%3Cstop offset='1' stop-color='%23280455' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D406FF'/%3E%3Cstop offset='1' stop-color='%23D406FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2311FF65'/%3E%3Cstop offset='1' stop-color='%2311FF65' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;
}

.randomBG1{
  background-color: #A914BD;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235545db'/%3E%3Cstop offset='1' stop-color='%235545db' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23501dbf'/%3E%3Cstop offset='1' stop-color='%23501dbf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235590d5'/%3E%3Cstop offset='1' stop-color='%235590d5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23A914BD'/%3E%3Cstop offset='1' stop-color='%23A914BD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2391C5DE'/%3E%3Cstop offset='1' stop-color='%2391C5DE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23264CC0'/%3E%3Cstop offset='1' stop-color='%23264CC0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;
}

.randomBG2{
  background-color: #520d5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235545db'/%3E%3Cstop offset='1' stop-color='%235545db' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23501dbf'/%3E%3Cstop offset='1' stop-color='%23501dbf' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235590d5'/%3E%3Cstop offset='1' stop-color='%235590d5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23A914BD'/%3E%3Cstop offset='1' stop-color='%23A914BD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2391C5DE'/%3E%3Cstop offset='1' stop-color='%2391C5DE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23264CC0'/%3E%3Cstop offset='1' stop-color='%23264CC0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-size: cover;
      // background-attachment: fixed;
}

.randomBG3{
  background-color: #D903D2;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d0598'/%3E%3Cstop offset='1' stop-color='%236d0598' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23790293'/%3E%3Cstop offset='1' stop-color='%23790293' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232b0353'/%3E%3Cstop offset='1' stop-color='%232b0353' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D903D2'/%3E%3Cstop offset='1' stop-color='%23D903D2' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2325055A'/%3E%3Cstop offset='1' stop-color='%2325055A' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232F014C'/%3E%3Cstop offset='1' stop-color='%232F014C' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
// background-attachment: fixed;
background-size: cover;
}

.randomBG4{
  background-color: #DF743E;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a71362'/%3E%3Cstop offset='1' stop-color='%23a71362' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23a61c65'/%3E%3Cstop offset='1' stop-color='%23a61c65' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23370a55'/%3E%3Cstop offset='1' stop-color='%23370a55' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DF743E'/%3E%3Cstop offset='1' stop-color='%23DF743E' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23330552'/%3E%3Cstop offset='1' stop-color='%23330552' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233A0F57'/%3E%3Cstop offset='1' stop-color='%233A0F57' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;
}

.RedGradient{background-color: #CA11DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f097d'/%3E%3Cstop offset='1' stop-color='%235f097d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23560b85'/%3E%3Cstop offset='1' stop-color='%23560b85' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23130327'/%3E%3Cstop offset='1' stop-color='%23130327' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23CA11DC'/%3E%3Cstop offset='1' stop-color='%23CA11DC' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312021E'/%3E%3Cstop offset='1' stop-color='%2312021E' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2312042F'/%3E%3Cstop offset='1' stop-color='%2312042F' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;}

.randomGreen{
  background-color: #0CB21F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2309801c'/%3E%3Cstop offset='1' stop-color='%2309801c' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2309670e'/%3E%3Cstop offset='1' stop-color='%2309670e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2305360a'/%3E%3Cstop offset='1' stop-color='%2305360a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CB21F'/%3E%3Cstop offset='1' stop-color='%230CB21F' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23064E14'/%3E%3Cstop offset='1' stop-color='%23064E14' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23031E03'/%3E%3Cstop offset='1' stop-color='%23031E03' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
// background-attachment: fixed;
background-size: cover;
}

.autoColorChange {
  background: linear-gradient(
    180deg,
    #5e2ac6,
    #8546f8,
    rgb(150, 76, 199), 
    rgb(148, 94, 233),
    #c248cbfa,
    #b52a9a,
    #b31190
  );
  background-size: 500% 500%;

  -webkit-animation: AnimationName 2000ms ease infinite;
  -moz-animation: AnimationName 2000ms ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 78%;
  }
  50% {
    background-position: 100% 23%;
  }
  100% {
    background-position: 0% 78%;
  }
}
