// .masonry_layout {
//   max-width: 1200px;
//   margin: 20px auto;
//   padding: 20px;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-auto-rows: 250px;
//   gap: 30px;
//   div {
//     border-radius: 6px;
//     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
//   }
// }

.masonry_layout {
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  gap: 1em;
}
