.policy,
.terms {
  background: rgba(255, 255, 255, 0.87);
  padding: 0.5rem;

  h2,
  h3 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(43, 42, 42);
    border-top: 2px solid rgb(58, 58, 58);
  }

  p,
  ul {
    margin: 10px 0;
    padding: 0 10px;
    text-align: justify;
    font-size: 14px;
  }
  .PolicyLink {
    background: rgb(3, 184, 9);
    color: #fff;
    padding: 0 10px;
    border-radius: 1rem;
  }
  li:before,
  p:before {
    content: "✅";
    padding: 10px 10px 10px 0;
    font-weight: 500;
  }
}
