.PostDetail {
  display: flexbox;
  position: relative;
  margin-top: -5em;
  backdrop-filter: blur(10px);
  background: rgb(255, 255, 255);
  border-radius: 0.5em;
  padding: 1rem 0.3rem;
}

.author {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: -2.5rem;
  width: fit-content;
  background: rgba(113, 25, 201, 0.76);
  border-radius: 2rem 2rem;
  .authorPic {
    border-radius: 2rem;
    background: rgba(28, 7, 61, 0.76);
  }
}
