$height: 4rem;
//-------color
$primaryColor: linear-gradient(-90deg, #340434d7, #9b0d96d8, #2e032ed7);
$primaryColor1: linear-gradient(-90deg, #340434d7, #d114cbb8, #2e032ed7);
$primaryDarkColor: linear-gradient(90deg, #ffffffd3, #dfdfdfea, #555454bf);
$secondaryColor: linear-gradient(-90deg, #044322, #09b84c, #044322);
$secondaryDarkColor: linear-gradient(45deg, #23fc59, #044322, #0edf5e, #088544);
$GradientGreen: linear-gradient(90deg, #04532c, #00ff62e9, #044d3a);
$GradientGoldenColor: linear-gradient(90deg, #332003de, #ff5100, #352003e7);

$whiteColor: rgba(252, 252, 252, 0.981);
$GlassColor: rgba(24, 24, 24, 0.733);
$grayColor: rgb(75, 75, 75);
$blackColor: rgb(9, 9, 9);
$MintColor: rgb(238, 246, 250);
$YellowColor: rgba(237, 181, 0, 0.981);
$blackGlassColor: linear-gradient(-90deg, #010101c6, #0c0c0cdd, #090909ad);
$wineGlassColor: linear-gradient(-90deg, #180816cb, #090909cb, #180816cb);
$transparentWhiteColor: linear-gradient(45deg, #383838cf, #ffffffc2, #d2d2d2de);
$GradientWhiteColor: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
$GradientGreenColor: linear-gradient(-45deg, #08164f, #08d57c, #15086b);
$GradientGreenReverse: linear-gradient(-45deg, #043a19, #00eb89, #053f1b);

$GradientRedColor: linear-gradient(90deg, #1b1b1b, #7c075bce, #1b1b1b);
$bgColor: linear-gradient(45deg, #5c5b5b, #858582, #3d3d3be9 100%);

//---------color options ----
$primaryGreenColor: linear-gradient(-90deg, #250438, #0daa73, #1e032e);

$gradientGlassColor: linear-gradient(
  -90deg,
  rgba(246, 246, 245, 1),
  rgba(122, 121, 124, 1)
);

$background1: linear-gradient(
  to right top,
  #1b085e,
  #002f7b,
  #004d8e,
  #00699a,
  #0084a2,
  #0da3c5,
  #07a4c4,
  #0f8299,
  #00618a,
  #004478,
  #07367c,
  #0a0a6d
);
$background2: radial-gradient(at 47% 33%, hsl(300, 92%, 78%) 0, transparent 59%),
  radial-gradient(at 82% 65%, hsl(218, 39%, 11%) 0, transparent 55%);

$background3: radial-gradient(at 2% 63%, hsl(290, 68%, 39%) 0, transparent 59%),
  radial-gradient(at 47% 33%, hsla(320, 86%, 36%, 0.973) 0, transparent 59%),
  radial-gradient(at 80% 55%, hsla(313, 47%, 45%, 0.767) 0, transparent 55%);

$transparentGlassColor: linear-gradient(0deg, #5f5e5e14, #3115478f, #080808c4);
$GradientGreen: linear-gradient(90deg, #044e23, #2ce065e9, #044e23);
$GradientPurple: linear-gradient(90deg, #130113, #d503d5, #130113);
$GradientPurple1: linear-gradient(0deg, #300230c2, #9b089bbd, #420542bb);
$bgImage: radial-gradient(at 10% 20%, rgb(80, 7, 62) 0, transparent 60%),
  radial-gradient(at 85% 65%, hsl(300, 92%, 25%) 0, transparent 55%);

$cardColor: linear-gradient(0deg, #151515b0, #292828a2, #1f1e1eaf);

$mobileMenu: linear-gradient(45deg, #13121336, #d8d7d848, #1414143a);
$GradientPurple2: linear-gradient(0deg, #0707077e, #d503d5e8, #51067c49);
$PurpleDark: rgba(18, 0, 22, 0.947);
$GreenDark: rgba(0, 22, 4, 0.947);

// $mobileMenu: $GlassColor;
$navBarColor: $whiteColor;
$mobileNavColor: #e6f7f7;
$navMenuColor: $grayColor;
$menusColors: $GradientWhiteColor;
$menusTextColors: $grayColor;
$bodyColor: $MintColor;
$fontColor: $grayColor;
