$height: 4rem;
//-------color
$primaryColor: linear-gradient(-90deg, #313131d9, #19ff8c, #303030ee);

$primaryDarkColor: linear-gradient(90deg, #ffffffd3, #dfdfdfea, #555454bf);
$secondaryColor: linear-gradient(-90deg, #044322, #09b84c, #044322);
$secondaryDarkColor: linear-gradient(45deg, #23fc59, #044322, #0edf5e, #088544);
$GradientGreen: linear-gradient(90deg, #04532c, #00ff62e9, #044d3a);
$GradientGoldenColor: linear-gradient(90deg, #332003de, #f0b00f, #291903e7);

$whiteColor: rgba(252, 252, 252, 0.981);
$GlassColor: rgba(34, 33, 33, 0.604);
$grayColor: rgb(75, 75, 75);
$blackColor: rgb(9, 9, 9);
$MintColor: rgb(238, 246, 250);
$YellowColor: rgba(237, 181, 0, 0.981);
$blackGlassColor: linear-gradient(-90deg, #010101c6, #0c0c0cdd, #090909ad);
$wineGlassColor: linear-gradient(-90deg, #180816cb, #090909cb, #180816cb);
$cardColor: linear-gradient(0deg, #c2c2c2, #fffffff1, #fffffff3);
$transparentWhiteColor: linear-gradient(45deg, #383838cf, #ffffffc2, #d2d2d2de);
$GradientWhiteColor: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
$GradientGreenColor: linear-gradient(-45deg, #08164f, #08d57c, #15086b);
$GradientGreenReverse: linear-gradient(45deg, #08164f, #00eb89, #08164f);

$GradientRedColor: linear-gradient(90deg, #1b1b1b, #c70a92, #1b1b1b);
$bgColor: linear-gradient(45deg, #5c5b5b, #858582, #3d3d3be9 100%);

//---------color options ----
$primaryGreenColor: linear-gradient(-90deg, #250438, #0daa73, #1e032e);

$gradientGlassColor: linear-gradient(
  -90deg,
  rgba(246, 246, 245, 1),
  rgba(122, 121, 124, 1)
);

$background1: linear-gradient(
  to right top,
  #1b085e,
  #002f7b,
  #004d8e,
  #00699a,
  #0084a2,
  #00829f,
  #00819c,
  #007f99,
  #00618a,
  #004478,
  #002661,
  #040443
);

$transparentGlassColor: linear-gradient(0deg, #dddddd00, #38373762, #383838a6);
$GradientGreen: linear-gradient(90deg, #044e23, #2ce065e9, #404140);
$GradientPurple: linear-gradient(90deg, #130113, #d503d5, #130113);
$navBarColor: $GlassColor;
$navMenuColor: $GradientPurple;
$menusColors: $GradientPurple;
$menusTextColors: $whiteColor;
$bodyColor: rgb(73, 73, 73);
