@tailwind base;
@tailwind components;
@tailwind utilities;
/**
*
* Testing
*
**/
.Navigation {
  z-index: 5;
  display: flexbox;
  width: 100%;
  height: wrap;
  position: fixed;
  top: 0;
}

.Navigation div {
  width: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.Navbar {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: -webkit-gradient(linear, left bottom, left top, from(#41404000), color-stop(#2d2c2ca2), to(#383838d3));
  background: linear-gradient(0deg, #41404000, #2d2c2ca2, #383838d3);
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
}

.Navbar .brandLogo {
  width: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hamburger-close {
  display: none;
}

.hamburger_lines,
.hamburger_lines::before,
.hamburger_lines::after {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  cursor: pointer;
  width: 1.5rem;
  height: 0.1rem;
  right: 0;
  background-color: rgba(252, 252, 252, 0.981);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger_lines::before,
.hamburger_lines::after {
  content: "";
  position: absolute;
}

.hamburger_lines::before {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.hamburger_lines::after {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.hamburger-open .hamburger_lines {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  background-color: transparent;
}

.hamburger-open .hamburger_lines::before {
  -webkit-transform: rotate(45deg) translate(-1.5rem, 1.5rem);
          transform: rotate(45deg) translate(-1.5rem, 1.5rem);
}

.hamburger-open .hamburger_lines::after {
  -webkit-transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
          transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  height: inherit;
}

.menus li a {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  border-radius: 2em 2em 0 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: rgba(252, 252, 252, 0.981);
  outline: 0;
}

.menus li a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#130113), color-stop(#d503d5), to(#130113));
  background: linear-gradient(90deg, #130113, #d503d5, #130113);
  -webkit-box-shadow: 0px 15px 8px 0px rgba(28, 27, 27, 0.884);
          box-shadow: 0px 15px 8px 0px rgba(28, 27, 27, 0.884);
}

.menus li a:focus, .menus li a:active {
  background: -webkit-gradient(linear, left top, right top, from(#130113), color-stop(#d503d5), to(#130113));
  background: linear-gradient(90deg, #130113, #d503d5, #130113);
  -webkit-box-shadow: 0px 10px 8px 0px rgba(255, 255, 255, 0.746);
          box-shadow: 0px 10px 8px 0px rgba(255, 255, 255, 0.746);
}

@media (min-width: 921px) {
  #hamburger {
    display: none;
  }
  .hamburger-open {
    display: none;
  }
  .mobile-open {
    opacity: 0;
  }
  .mobile-menus {
    display: none;
  }
}

@media (max-width: 919px) {
  .menus {
    display: none;
  }
  .mobile-open {
    opacity: 1;
  }
  .mobile-menus {
    display: block;
  }
  .Navbar {
    width: auto;
    height: 4rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #hamburger {
    display: -ms-grid;
    display: grid;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: wrap;
    height: wrap;
    border-radius: 2em 0;
    background: -webkit-gradient(linear, left top, right top, from(#130113), color-stop(#d503d5), to(#130113));
    background: linear-gradient(90deg, #130113, #d503d5, #130113);
    padding: 1.5rem 1rem 1.5rem 1.2rem;
    margin-right: 0.5rem;
    -webkit-box-shadow: 0px 10px 5px 1px rgba(18, 19, 19, 0.584);
            box-shadow: 0px 10px 5px 1px rgba(18, 19, 19, 0.584);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #hamburger:hover, #hamburger:focus, #hamburger:active {
    border-radius: 0 2em;
    background: -webkit-gradient(linear, left top, right top, from(#130113), color-stop(#d503d5), to(#130113));
    background: linear-gradient(90deg, #130113, #d503d5, #130113);
  }
  .hamburger-close {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 2em;
    height: 2em;
  }
  .hamburger-close .hamburger_lines {
    position: relative;
    width: 1.5rem;
  }
  .hamburger-open {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    cursor: pointer;
  }
  .hamburger-open .hamburger_lines {
    position: relative;
    width: 1.5rem;
  }
  .mobile-open {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
    background: linear-gradient(45deg, #13121336, #d8d7d848, #1414143a);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    -webkit-box-shadow: 0px 0px 0px 1px rgba(221, 221, 221, 0.173);
            box-shadow: 0px 0px 0px 1px rgba(221, 221, 221, 0.173);
    outline: 0;
  }
  .mobile-open li {
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: -webkit-gradient(linear, left bottom, left top, from(#300230c2), color-stop(#9b089bbd), to(#420542bb));
    background: linear-gradient(0deg, #300230c2, #9b089bbd, #420542bb);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px 5px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(133, 131, 131, 0.267);
            box-shadow: 0px 0px 1px 1px rgba(133, 131, 131, 0.267);
  }
  .mobile-open li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    padding: 0.5em 1em;
    color: transparent;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
  }
  .mobile-open li a::before {
    content: attr(data-text);
    position: absolute;
    color: #f0fef5;
    width: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-right: 8px solid rgba(255, 255, 255, 0);
    overflow: hidden;
  }
  .mobile-open li a:hover::before {
    width: 90%;
    -webkit-text-stroke: 2px white;
    border-right: 8px solid #fff;
  }
  .mobile-open li a:focus {
    border-radius: 0.5rem;
    background: -webkit-gradient(linear, left top, right top, from(#130113), color-stop(#d503d5), to(#130113));
    background: linear-gradient(90deg, #130113, #d503d5, #130113);
    -webkit-box-shadow: 0px 0px 2px 0.5px rgba(33, 33, 32, 0.92);
            box-shadow: 0px 0px 2px 0.5px rgba(33, 33, 32, 0.92);
  }
  .mobile-close {
    display: none;
  }
  .mobile-close .mobileMenus {
    opacity: 0;
  }
}

#signin {
  background: linear-gradient(-45deg, #08164f, #08d57c, #15086b);
  font-weight: 500;
  color: white;
  padding: 1em;
  border-radius: 0 20em;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
          box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
}

#signin:hover, #signin:focus {
  color: #1c1c1c;
  background: -webkit-gradient(linear, left top, right top, from(#666565b7), color-stop(#ffffff), to(#646262d5));
  background: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
}

#signup {
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), color-stop(#7c075bce), to(#1b1b1b));
  background: linear-gradient(90deg, #1b1b1b, #7c075bce, #1b1b1b);
  color: white;
  font-weight: 500;
  padding: 1em;
  border-radius: 20em 0;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
          box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
}

#signup:hover, #signup:focus {
  color: #1c1c1c;
  background: -webkit-gradient(linear, left top, right top, from(#666565b7), color-stop(#ffffff), to(#646262d5));
  background: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
}

#logout {
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), color-stop(#7c075bce), to(#1b1b1b));
  background: linear-gradient(90deg, #1b1b1b, #7c075bce, #1b1b1b);
  color: white;
  font-weight: 500;
  padding: 1em;
  border-radius: 20em;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
          box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
}

#logout:hover, #logout:focus {
  color: #1c1c1c;
  background: -webkit-gradient(linear, left top, right top, from(#666565b7), color-stop(#ffffff), to(#646262d5));
  background: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
}

#hidden {
  display: none;
}

.social {
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#0707077e), color-stop(#d503d5e8), to(#51067c49));
  background: linear-gradient(0deg, #0707077e, #d503d5e8, #51067c49);
}

.instagram svg,
.youtube svg,
.twitter svg,
.linkedin svg {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  top: 0rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.instagram svg:hover,
.youtube svg:hover,
.twitter svg:hover,
.linkedin svg:hover {
  fill: #fde8f4;
  top: -2rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 251, 253, 0.789);
          box-shadow: 0px 5px 0px 0px rgba(255, 251, 253, 0.789);
}

.PostDetail {
  display: flexbox;
  position: relative;
  margin-top: -5em;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(253, 245, 255, 0.89);
  border-radius: 0.5em;
  padding: 1.2rem 0.3rem;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: rgba(113, 25, 201, 0.76);
  border-radius: 2rem 2rem;
}

.author .authorPic {
  border-radius: 2rem;
  background: rgba(28, 7, 61, 0.76);
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .card {
    @apply min-w-0 w-full place-self-center bg-white bg-opacity-70  md:flex md:max-w-3xl transition-all duration-700 shadow-xl drop-shadow-lg overflow-hidden rounded-xl mb-6 hover:bg-opacity-90;
  }
}

body {
  height: 100vh;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Helvetica Neue", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #10b7b5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23091ade'/%3E%3Cstop offset='1' stop-color='%23091ade' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232274b1'/%3E%3Cstop offset='1' stop-color='%232274b1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23601dd6'/%3E%3Cstop offset='1' stop-color='%23601dd6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2310B7B5'/%3E%3Cstop offset='1' stop-color='%2310B7B5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DC09FF'/%3E%3Cstop offset='1' stop-color='%23DC09FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233646A9'/%3E%3Cstop offset='1' stop-color='%233646A9' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

.leafButton,
#signin {
  background: linear-gradient(-45deg, #08164f, #08d57c, #08164f);
  font-weight: 400;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 1rem 1.7rem;
  border-radius: 0 20em;
  height: wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(1, 26, 16, 0.692);
          box-shadow: 0px 5px 5px 0px rgba(1, 26, 16, 0.692);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.leafButton:hover, .leafButton:focus,
#signin:hover,
#signin:focus {
  border-radius: 20em 0;
}

#backButton {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 0;
  margin-top: -1.5rem;
  margin-left: 0.5rem;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background: -webkit-gradient(linear, left top, right top, from(#666565b7), color-stop(#ffffff), to(#646262d5));
  background: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
  color: #252526;
  padding: 1rem;
  border-radius: 20em;
  height: wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-shadow: 0px 2px 10px 1px rgba(17, 17, 17, 0.865);
          box-shadow: 0px 2px 10px 1px rgba(17, 17, 17, 0.865);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#backButton:hover, #backButton:focus {
  border-radius: 20em 20em 20em 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#signup {
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), color-stop(#7c075bce), to(#1b1b1b));
  background: linear-gradient(90deg, #1b1b1b, #7c075bce, #1b1b1b);
  color: white;
  font-weight: 500;
  padding: 1em;
  border-radius: 20em 0;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
          box-shadow: 0px 2px 5px 1px rgba(77, 75, 75, 0.692);
}

#signup:hover, #signup:focus {
  color: #1c1c1c;
  background: -webkit-gradient(linear, left top, right top, from(#666565b7), color-stop(#ffffff), to(#646262d5));
  background: linear-gradient(90deg, #666565b7, #ffffff, #646262d5);
}

#shareButton,
#LikeButton {
  display: -ms-grid;
  display: grid;
  position: absolute;
  margin-top: 10em;
  margin-right: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#1b1b1b), color-stop(#7c075bce), to(#1b1b1b));
  background: linear-gradient(90deg, #1b1b1b, #7c075bce, #1b1b1b);
  padding: 0.8rem;
  border-radius: 2em;
  width: wrap;
  height: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(47, 17, 53, 0.318);
          box-shadow: 0px 5px 5px 1px rgba(47, 17, 53, 0.318);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#shareButton:hover, #shareButton:focus,
#LikeButton:hover,
#LikeButton:focus {
  -webkit-box-shadow: 0px 1px 12px 1px #020202;
          box-shadow: 0px 1px 12px 1px #020202;
}
/*# sourceMappingURL=globals.css.map */